@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-image: url(https://cdn.wallpapersafari.com/45/78/Qy5Pnj.jpg);
  background-repeat: repeat-y;
  background-size: auto;
  font-weight: bold;
}

.card {
  width: 5rem;
  height: 8rem;
  border-radius: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

p {
  font-family: "Bodoni Moda", "serif";
  font-size: 0.8rem;
}

.bubbleCard {
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.steps-number {
  color: white;
  font-size: 2.5rem;
  align-self: center;
  padding: 2rem;
}

h2 {
  color: white;
}

.reverse-p {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
}

.diamond {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: red;
}
.diamond:before {
  content: "\2666";
}

.heart {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: red;
}
.heart:before {
  content: "\2665";
}

.club {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.club:before {
  content: "\2663";
}

.spade {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.spade:before {
  content: "\2660";
}
